{% extends "blog/layout.html" %}
{% load crispy_forms_tags %}
{% block body %}
<div class="row">
    <div class="col-md-4 mx-auto bg-dark p-3 text-white shadow-lg">
        <form autocomplete="off" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-right border-left mb-4 bg-info text-center">Welcome! Please Log In <i class="fa fa-lock"></i></legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group text-center">
                <div class="row">
                    <div class="col-md-12">
                        <button class="btn btn-outline-info w-100" type="submit">Login</button>
                    </div>
                    <div class="col-md-12">
                        <a class="btn btn-outline-danger w-100 mt-2" href="{% url 'password_reset' %}">Forgot Password</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock body %}